# Bayesian Classifier
***

### Import library's

In [45]:
import numpy as np
import pandas as pd

from math import sqrt
from math import pi
from math import exp

import sklearn
from sklearn.model_selection import train_test_split

In [2]:
# Load csv file 
all_df = pd.read_csv('./Iris.csv', index_col=False)

# drop ID column
all_df.drop('Id',axis=1,inplace=True)
all_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
# basic statistics for each column
all_df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [4]:
all_df["Species"].value_counts()#look at class count

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
# Assign features to X
X = all_df

# transform Species into integers
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Species']= le.fit_transform(X['Species'])

# assign numerical label to y
y = X['Species']
#X = X.drop('Species', axis=1)
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [24]:
classes = {}
by_class = X.groupby('Species')
by_class.head()

for groups, data in by_class:
    classes[groups] = data

In [61]:
class_1 = pd.DataFrame(classes[0])
class_2 = pd.DataFrame(classes[1])
class_3 = pd.DataFrame(classes[2])
class_2['PetalWidthCm'].mean(axis=0)

1.3259999999999998

|class|S len$\mu$|S len$\sigma$|S wid$\mu$|S wid$\sigma$|P len$\mu$|P len$\sigma$|P wid$\mu$|P wid$\sigma$|
|---|---|---|---|---|---|---|---|---|
|Setosa|5.0059|0.352|3.418|0.381|1.464|0.1735|0.2439|0.107|
|versicolor|5.936|0.516|2.77|0.313|4.26|0.4699|1.325|0.197|

## Gaussian distribution
$$P(x)=\frac{1}{\sigma \sqrt 2 \pi } e^{\frac{-(x-\mu)^2}{2\sigma^2}}$$

In [42]:
# Gaussian p.d.f
def gaussian_probability(x, mean, stdev):
    return (1 / (sqrt(2 * pi) * stdev))* exp(-((x-mean)**2 / (2 * stdev**2 )))

In [46]:
print(gaussian_probability(1.0,1.0,1.0))

0.3989422804014327

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=1, stratify=Y)

In [16]:
y_train.value_counts()

1    45
2    45
0    45
Name: Species, dtype: int64

In [17]:
y_test.value_counts()

2    5
1    5
0    5
Name: Species, dtype: int64

In [19]:
X_train.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     135.000000    135.000000     135.000000    135.000000
mean        5.889630      3.074074       3.790370      1.202222
std         0.827266      0.436226       1.781492      0.762994
min         4.300000      2.000000       1.000000      0.100000
25%         5.200000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.400000      1.300000
75%         6.450000      3.350000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [22]:
X_train.mean(axis=0)

SepalLengthCm    5.889630
SepalWidthCm     3.074074
PetalLengthCm    3.790370
PetalWidthCm     1.202222
dtype: float64